{% load static %}
<html>
<head>
    <title>The Yoga App | {% block title %}{% endblock title %}</title>
    {% block head %}{% endblock head %}
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark py-2 px-5 sticky-top">
  <div class="container-fluid">
    <div class="navbar-header nav-fill">
      <a class="navbar-brand" href="{% url 'index' %}"><img src="https://img.icons8.com/external-ddara-flat-ddara/64/000000/external-yoga-pose-yoga-poses-ddara-flat-ddara-24.png" class="px-3" style="height:35%; width:35%;"/>The Yoga App</a>
    </div>
      <div>
          <button type="button" class="btn btn-primary py-1 px-2 mx-2">Login</button>
          <button type="button" class="btn btn-primary py-1 px-2 mx-2">Register</button>
      </div>
  </div>
</nav>
{% block body %}
{% endblock body %}
<footer>
    <div class="bg-dark text-light text-center mb-0 py-3">
        <h5>Copyright &copy; 2022</h5>
        <h5>Made with<img src="https://img.icons8.com/external-flaticons-lineal-color-flat-icons/64/000000/external-heart-web-flaticons-lineal-color-flat-icons-7.png" style="width:30;height:30;" />in <img src="https://img.icons8.com/external-justicon-lineal-color-justicon/64/000000/external-india-flag-countrys-flags-justicon-lineal-color-justicon.png" style="width:22;height:20;margin-left:3px;"></h5>
    </div>
</footer>
</body>
</html>