{% extends 'base.html' %}
{% load static %}
{% block title %}Dashboard{% endblock title %}
{% block head %}
{% endblock head %}
{% block body %}


<!--INLINE CSS-->
<style>
body{
    background: rgb(0,0,200,0.5);
}
</style>
<!--END CSS-->

{% if messages %}
    {% for message in messages %}
        <div class="alert alert-info" role="alert">{{ message }}</div>
    {% endfor %}
{% endif %}
<a href="{% url 'yoga' %}"><button class="btn btn-primary px-5 py-2 m-3">Start</button></a>
{% endblock body %}